# SPDX-FileCopyrightText: 2021 Andrew Grimberg <tykeal@bardicgrove.org>
# SPDX-License-Identifier: Apache-2.0

---
ci:
  autofix_commit_msg: "Chore: pre-commit autofixes"
  autofix_prs: false
  autoupdate_commit_msg: "Chore: pre-commit autoupdate"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 2c9f875913ee60ca25ce70243dc24d5b6415598c # frozen: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: no-commit-to-branch
        args:
          - --branch=main
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: https://github.com/jorisroovers/gitlint
    rev: acc9d9de6369b76d22cb4167029d2035e8730b98 # frozen: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 02609a0003fd4903bd7f43852e5dfc82242a96db # frozen: v0.4.9
    hooks:
      - id: ruff
        files: ^(scripts|tests|custom_components)/.+\.py$
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        files: ^(scripts|tests|custom_components)/.+\.py$

  - repo: https://github.com/adrienverge/yamllint.git
    rev: 81e9f98ffd059efe8aa9c1b1a42e5cce61b640c6 # frozen: v1.35.1
    hooks:
      - id: yamllint

  - repo: https://github.com/econchick/interrogate
    rev: a6268877efd41a21197445cc04cbf28f9c6facba # frozen: 1.7.0
    hooks:
      - id: interrogate
        args: [-vv, --fail-under=100]
        additional_dependencies:
          - setuptools

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: e5ea6670624c24f8321f6328ef3176dbba76db46 # frozen: v1.10.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-pytz

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: f12edd9c7be1c20cfa42420fd0e6df71e42b51ea # frozen: v4.0.0-alpha.8
    hooks:
      - id: prettier
        stages: [commit]

  - repo: https://github.com/fsfe/reuse-tool
    rev: d8ec50072a04d53e027b4926bd73c999573a5edd # frozen: v3.1.0a1
    hooks:
      - id: reuse

  - repo: https://github.com/rhysd/actionlint
    rev: 62dc61a45fc95efe8c800af7a557ab0b9165d63b # frozen: v1.7.1
    hooks:
      - id: actionlint
